<h1>User info</h1>


<% if @list.image.attached? %>
  <%= image_tag @list.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>
<p>Find me in app/views/books/index.html.erb</p>
